<tr>
  <td><%= comment.id %></td>
  <td><%= link_to comment.user.name, user_path(comment.user) %></td>
  <td><%= link_to comment.post.title, post_path(comment.post) %></td>
  <td><%= comment.content %></td>
  <td><%= comment.created_at %></td>
  <!-- <td>
    <%#= comment.admin == true ? "Admin" : "Member" %>
  </td> -->
  <td>
    <%= link_to "Delete", admin_comment_path(comment), method: :delete %>
  </td>
</tr>
