<% @user ||= current_user %>
<div class="stats">
  <a href="<%= user_bookmarks_path(@user)%> ">
    <strong id="stats" class="stat">
      <%= @user.bookmarks.count %>
    </strong>
    Bookmark
  </a>
   <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
