<nav id=" post-<%= @post.id %>">
  <h1 class="content"><%= @post.title%></h1>
  <%= render "bookmark_form"%>
    <%= form_for ([@post, @post.likes.build]) do |f| %>
      <%= button_tag(type: 'submit', class: "btn like btn-danger") do %>
        <span class="glyphicon glyphicon-thumbs-up"><%= @post.likes.count %></span> Like
       <% end %>
    <% end %>

 <%= form_for ([@post, @post.dislikes.build]) do |f| %>
      <%= button_tag(type: 'submit', class: "btn dislike btn-warning") do %>
        <span class="glyphicon glyphicon-thumbs-down"><%= @post.dislikes.count %></span> Dislike
       <% end %>
 <% end %>

  <p class="timestamp">
    <i>Posted <%= time_ago_in_words(@post.created_at) %> ago By <span class="user"><%= link_to @post.user.name, @post.user %></span></i>
  </p>
  <p class="content"><%= @post.content %></p>
</nav>

<% @post.comments.each do |comment|%>
    <%= comment.content %><br/>
    <%= link_to "delete", post_comment_path(post_id: @post.id, id: comment.id), method: :delete, data: { confirm: "You sure?" } %>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for ([@post, @post.comments.build]) do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>

      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
