<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.created_at %></td>
  <td>
    <%= user.admin == true ? "Admin" : "Member" %>
  </td>
  <td>
    <%= link_to "Delete", admin_user_path(user), method: :delete unless user.admin? %>
  </td>
</tr>
