<div class="container-fluid">
  <div class="row">
    <%= render "sidebar" %>
    <div class="col-sm-9 col-md-10 main">
      <h1 class="page-header">Dashboard</h1>
        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder ">
            <%= link_to admin_users_path, class: "btn btn btn-lg" do %>
             <span class="glyphicon glyphicon-log-in"></span>
             <%= @user.count %>
            <% end %>
            <h4>Total Users</h4>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <%= link_to admin_users_path, class: "btn btn btn-lg" do %>
             <span class="glyphicon glyphicon-log-in"></span>
             <%= @post.count %>
            <% end %>
            <h4>Total Posts</h4>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <%= link_to admin_comments_path, class: "btn btn btn-lg" do %>
             <span class="glyphicon glyphicon-log-in"></span>
             <%= @comment.count %>
            <% end %>
            <h4>Total Comments</h4>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <%= link_to admin_tags_path, class: "btn btn btn-lg" do %>
             <span class="glyphicon glyphicon-log-in"></span>
             <%= @tag.count %>
            <% end %>
            <h4>Totals Tags</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
